body{
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/connectwork.png");
}
#buttonRow{
    background: rgba(48, 47, 45, 0.788);
    border: 1vw;
    margin-bottom: 5px;
}
h1{
    font-family: 'Passion One';
    font-size: 5vw;
    margin-top: 10px;
    margin-bottom: 1vw;
    margin-left: 20px;
    width: 21vw;
    padding-left: 2.4vw;
    color: orange;
    background: rgba(255, 255, 255, 0.877);
    border-radius: 20px;
}
.row{ 
    background:rgba(192, 192, 192, 0.836);
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    padding: 1vw;
    margin-left: 3px;
    margin-right: 3px;
    
}



#textF{
    height: 300px;
    background: rgba(250, 242, 230, 0.658);
    border: 3px;
    border-style: solid;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Varela Round', sans-serif;
}

#buttonRow{
    border-radius: 10px;
}
#submit{
    margin-bottom: 10px;
}
div.row{
    margin-bottom: 1vw;
}

#postButton{
    background-color: rgb(66, 70, 70);
    border-color: black;
    font-family: 'Fredoka One', cursive;
    padding: .4vw;
    margin-left: 1vw;

}
#newBtn{
    padding: .5vw;
    margin-left: 1vw;
    font-family: 'Varela Round', sans-serif;
}
#giff{
    width: 300px;
    height: 200px;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 30px;
}
#RatingT{
    margin-left: 8vw;
    margin-top: 10px;
}
h2{
    margin-left: 12vw;
    margin-bottom: 4vw;
    color: white;
    background: orange;
    padding-bottom: 15px;
    width: 5vw;
    border-radius: 60px;
}

#moreGifs{

    width: 350px;
    height: 200px;
    margin-bottom: 5px;
    margin-left: 4vw;
    margin-right: 4vw;
}
#mkBtn{
    margin-bottom: 5px;
}
#term{
    margin-bottom: 5px;
}
#subbtn{
    margin-bottom: 10px;
}
#RatingT{
    text-align: center;
}
#Rating{
    text-align: center;
    margin-bottom: 1vw;
}
#term{
    width: 300px;
}
#mkBtn{
    width: 300px;
}
#subbtn{
    padding: .4vw;
    background-color: rgb(66, 70, 70);
    border-color: black;
}
#submit{
    padding: 5px;
    background-color: rgb(66, 70, 70);
    border-color: black;
}
@media only screen and (max-width: 1200px) {
    #gif{
        display: none;
    }
    
    #moreGifs{
    
        max-width: 250px;
        max-height: 200px;
        margin-bottom: 10px;
        margin-left: 2vw;
    }

    #RatingR{
        display: none;
    }
} 
@media only screen and (max-width: 767px) {
    
}